.dashboardContainer {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 250px;
  padding: 0 60px 24px 60px;
  background: #f9f9f9;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .dashboardContainer {
    flex-direction: column;
  }

  .mainContent {
    margin-left: 0;
  }
}
